body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
   
}
header{
    background: #FFF;
    background-image: url('images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 50%;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0px 150px;
}
.nav-logo{
    display: flex;
    align-items: center;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.nav-logo img{
    width: 86.041px;
    height: 40px;
    padding-right: 20px; 
}
.logo-g{
     color:#FF42A5
}
.nav-link{
    display: flex;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.nav-link >ul{
    display: flex;
   list-style: none;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
.nav-link a{
    text-decoration: none;
}
.nav-button{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    padding: 0px 20px;
}
.button-text{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.button-img{
    width: 24px;
    height: 24px;
    padding: 0px 0px 0px 20px;
}
/* end nav style */
/* start banner style */
.banner{
    display: flex;
    padding: 0px 150px;
    gap: 200px;
}
.banner-area{
    padding-bottom: 100px;
}
.banner-greeting{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    padding-top: 150px;
    text-transform: uppercase;
    margin: 0;
}
.banner-title{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin: 0;
}
.banner-tex{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
}
.signin-butto{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    padding: 20px 40px;
}
.rogue-button{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    padding: 20px 40px;
}
.banner-img-are img{
    height: 100%;
    width: 100%;
}

/* end banner style */
/* start online game style */
.online-game-title{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    margin: 0;  
}
.funny-video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}
.online-game-text{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.online-game-img-area{
    display: flex;
    margin: 50px 150px;
    gap: 25px;
}
.online-game-img-area img{
    width: 100%;
    height: 50%;
}
.img-text{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}


/* end online game style */
/* start play game style */
.play-game-area{
    display: flex;
    margin: 0px 150px;
    gap: 100px;
}
.play-title{
    text-align: right;
    font-family: Work Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px; /* 125% */
    padding-top: 100px;
    margin: 0;
}
.play-area-text{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.anniversary-img{
    width: 80%;
    margin-left: 100px;
}
.my-talking-img{
    position: relative;
    bottom: 200px;
    width: 40%;
}
/* end play game style */
/* start game link style */
.game-link-area{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap: 10px;
    padding: 0px 150px;
    margin-bottom: 100px;
}
.game-link-area a{
    text-decoration: none;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 30px;
}
.game-link-area a img{
    width: 25px;
    height: 25px;
}

/* end game link style */

/* start footer style */
footer{
    background: #0B0223;
    text-align: center;
}
.footer-title{
   display: flex;
   align-items: center;
   color: #FFF;
   font-family: Work Sans;
   font-size: 45px;
   font-weight: 700;
   margin: 0px 500px;
   padding-top: 50px;
}
.footer-link a{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 20px;
}
.footer-icon-link{
    margin: 30px 0px;
}
.footer-icon-link a img{
    width: 40px;
    height: 40px;
    padding: 20px;
}
.footer-setting{
    margin-bottom: 30px;
}
.footer-setting a{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
}
.footer-copy-right{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 120px;
}

/* end footer style */


/* Responsive media queries */
/*start small divice/mobile divice */
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        text-align: center;
        padding: 0px 80px;
        margin-bottom: 50px;
    }
  .nav-link{
    flex-direction: column;
    padding: 0px;
  }
  .nav-link >ul{
    flex-direction: column;
    padding-bottom: 20px;
  }
  .nav >ul > li a{
    padding-bottom: 50px;
  }
  .nav-button{
    border-radius: 8px;
    padding: 0px 20px;
}
.button-text{
    font-size: 15px;
    font-weight: 500;
}
.button-img{
    width: 16px;
    height: 16px;
    padding: 0px 0px 0px 10px;
} 
/* banner style */
  .banner{
    flex-direction: column-reverse;
    padding: 0px 100px;
    margin: 0px;
    gap: 0;
    background-position: bottom;
  }
  .banner-greeting{
    font-size: 30px;
  }
  .banner-title{
    font-size: 50px;
  }
  .banner-tex{
    font-size: 20px;
    font-weight: 500;
    padding-left: 100px;
}
.banner-button{
    display: flex;
    gap: 5px;
}
.rogue-button{
    font-size: 10px;
    border-radius: 30px;
    padding: 10px 20px;
}
.signin-butto{
    font-size: 10px;
    border-radius: 30px;
    padding: 10px 20px;
}
  /* online game style */
  .online-game-img-area{
    flex-direction: column;
    margin: 0px 50px;
  }
  .online-game-title{
    font-size: 25px;  
}
.funny-video{
    font-size: 25px;
}
.online-game-text{
    font-size: 10px;
}
.img-text{
    font-size: 12px;
}
  /* play game style */
  .play-game-area{
    flex-direction: column;
    margin: 0;
    gap: 0;
    padding: 0px 50px;
  }
  .play-title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}
.play-area-text{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 30px 0px;
}
.anniversary-img{
    width: 80%;
    margin-left: 70px;
}
.my-talking-img{
    position: relative;
    bottom: 100px;
    width: 40%;
}
/* game link style */
.game-link-area{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 10px;
    padding: 0px 50px;
    margin-bottom: 50px;
}
.game-link-area a{
    font-size: 8px;
}
.game-link-area a img{
    width: 16px;
    height: 16px;
}
/* footer style */
footer{
padding: 0px 50px;
}
.footer-title{
    font-size: 30px;
    padding: 50px 50px 0px 60px ;
    margin: 0;
 }
.footer-link a{
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 20px;
}
.footer-setting a{
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
}
.footer-copy-right{
    font-size: 12px;
    padding: 30px 40px 100px 40px;
}


}

/* end small divice/mobile divice */
/* start medium divice */
@media screen and (min-width: 577px) and (max-width: 960px){
    nav{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .banner{
        flex-direction: column;
        padding: 0px;
      }
}

/* end medium divice */